*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #000000, #434343); 
    overflow: hidden;
    display: flex;
}

main{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    width: 400px;
    height: 400px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 30px;
    border-radius: 10px;
}

h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.separador{
    margin-top: 10px;
}

.input-label{
    font-size: 18px;
    font-weight: 700;
    color: white;
}

input{
    width: 350px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    margin-top: 5px;
    outline: none;
    color: black;
}

button{
    width: 350px;
    background: #CDD2FD;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 20px;
    margin-top: 30px;

}

.error{
    color: red;
    font-size: 14px;
}

.desc{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc-text{
    color: white;
    font-size: 40px;
    margin-top: 30px;
}